JSON_XForm.module/Schemas/product/CakeFlavor.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://xmlns.heb.com/ei/cakeFlavor"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.heb.com/ei/cakeFlavor"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:element name="cakeFlavor">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="cakeFlavorId" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="cakeFlavorName" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>