JSON_XForm.module/Schemas/product/Categories.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://xmlns.heb.com/ei/categories"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.heb.com/ei/categories"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:element name="categories">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="categoryId" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="categoryName" type="xsd:string" minOccurs="0"/>
				<xsd:element name="isDefaultParent" type="xsd:boolean" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>