JSON_XForm.module/Schemas/product/ConsumerPurchaseChoice.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://xmlns.heb.com/ei/consumerPurchaseChoice"
	 targetNamespace="http://xmlns.heb.com/ei/consumerPurchaseChoice"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="consumerPurchaseChoice">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="consmPrchChcCd" type="xs:string" minOccurs="0"/>
				<xs:element name="consmPrchChcDes" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>