JSON_XForm.module/Schemas/product/WineMaker.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://xmlns.heb.com/ei/wineMaker"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.heb.com/ei/wineMaker"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:element name="wineMaker">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="wineMakerId" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="wineMakerName" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>